    .navbar {
        background-color:lightblue;
        
        .logo__nav {
            img {
                height: 60px;
                width: 60px;
            }
        }      
        .navbar-brand { 
            font-size: 30px;
            margin-right: 15%;
        }
        .nav-item {
            font-size: 20px;
            padding: 10px;
        }
    }