@import "./styles/layout/reset";
@import "./styles/layout/header";
@import "./styles/layout/index";
@import "./styles/layout/titulos";
@import "./styles/layout/hover";

body {
    background-color:rgba(173, 216, 230, 0.300);
}

.footer {
    background-color:lightblue;
}

